 body {
            background-color: #EAF6F6;
        }
hr {
    background-color: #EAF6F6;
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    width: 5%;
    border-width: 5px;

    }

h1, h3 {
    color: #66BFBF;
}

h1:hover {
    color:red;
}